extends ../layout
block header

block content
  section#moduleInfo
    div.owner
      a(href="mailto:" + locals.owner)
        img(src=locals.ownerGravatar)

    h2
      span.id= locals.id 
      span.v= locals.latestVersion

    p.desc #{locals.description} 
    
    p.link
      a(href=locals.url) #{locals.url}

    p.npm
      span.shell $ 
      | npm install #{locals.id}

    if locals.github
      h3.githubTitle github
      section.github
        p
          iframe(src="http://ghbtns.com/github-btn.html?user=#{locals.github.owner}&repo=#{locals.id}&type=watch&size=large&count=true", allowtransparency=true, frameborder=0, scrolling=0, width=170, height=30)
        p
          iframe(src="http://ghbtns.com/github-btn.html?user=#{locals.github.owner}&repo=#{locals.id}&type=fork&size=large&count=true", allowtransparency=true, frameborder=0, scrolling=0, width=170, height=30)
        p
          a(href=locals.github.url) #{locals.github.url}
    
    h3.tags tags
    ul.tags
      each keyword in locals.keywords
        li.tag= keyword

    h3.npmlink NPM repository
    p.npmlink
      a(href="https://npmjs.org/package/" + locals.id)= locals.id
