extends ../layout
block header

block content
  section#moduleInfo
    div.owner
      a(href="mailto:" + locals.owner)
        img(src=locals.ownerGravatar)

    h2
      span.id= locals.id 
      span.v= locals.latestVersion

    p.desc #{locals.description} 
    
    h3 usage 
    p.npm
      span.shell $ 
      | npm install #{locals.id}
    
    h3 links
    ul
      li
        a(href="https://npmjs.org/package/" + locals.id) npm registry
      if locals.url
        li
          a(href=locals.url) homepage

    if locals.github
      h3.githubTitle github
      section.github
        p
          iframe(src="http://ghbtns.com/github-btn.html?user=#{locals.github.owner}&repo=#{locals.id}&type=watch&size=large&count=true", allowtransparency=true, frameborder=0, scrolling=0, width=170, height=30)
        p
          iframe(src="http://ghbtns.com/github-btn.html?user=#{locals.github.owner}&repo=#{locals.id}&type=fork&size=large&count=true", allowtransparency=true, frameborder=0, scrolling=0, width=170, height=30)
        p
          a(href=locals.github.url) #{locals.github.url}
    
    if locals.keywords.length > 0
      h3.tags tags
      ul.tags
        each keyword in locals.keywords
          li.tag= keyword
