extends ../layout
block header
  ul#page
    li(data-val='popular', class='type-b selectable ' + (currentType=='popular'?'selected':''))
      a.type(href=home_index_link('popular', currentTag)) Popular
    li(data-val='interesting', class='type-b selectable ' + (currentType=='interesting'?'selected':''))
      a.type(href=home_index_link('interesting', currentTag)) Interesting
    li(data-val='new', class='type-b selectable ' + (currentType=='new'?'selected':''))
      a.type(href=home_index_link('new', currentTag)) New

  ul#filter
    //- li Search
    li.selected Tags

block content
  section#right
    section#tags
      div#searchTags
        input(type='text', placeholder='Find tag...')
      ul
        each tag in tags
          li(data-val=tag, class='tag-b selectable ' + (currentTag==tag?'selected':''))
            a.tag(href=home_index_link(currentType, tag))= tag

    section#search
      div#searchSite
        input(type='text', placeholder='Find...')

    section#ad
      script(type="text/javascript")
        google_ad_client = "ca-pub-6977729569660862";
        /* NSJM - Right */
        google_ad_slot = "6835835715";
        google_ad_width = 300;
        google_ad_height = 600;
      script(type="text/javascript", src="https://pagead2.googlesyndication.com/pagead/show_ads.js")

  include _modules
