!!! 5
html
  head
    meta(charset='utf-8')
    title Hello World
    != css('main')
    link(href='http://fonts.googleapis.com/css?family=Exo:200,400,600,800', rel='stylesheet', type='text/css')
  body
    div#container
      header
        h1 Node.JS Modules

        ul#page
          li(class=(currentType=='popular'?'selected':''))
            a(href='/popular/tags/#{currentTag}') Popular
          li(class=(currentType=='interesting'?'selected':''))
            a(href='/interesting/tags/#{currentTag}') Interesting
          li(class=(currentType=='new'?'selected':''))
            a(href='/new/tags/#{currentTag}') New

        ul#filter
          li.selected Tags
          li Search

        div.clearfix

      section#main
        section#tags
          div#searchTags
            input(type='text', placeholder='Find tag...')
          ul
            each tag in tags
              li(class=(currentTag==tag?'selected':''))
                a(href='/#{currentType}/tags/#{tag}')= tag
      
        section#search
          div#searchSite
            input(type='text', placeholder='Find...')

        section#modules
          ol
            each module, k in modules
              li(title=module.id + ": " + module.description)
                h3.num= k + 1
                div.module-info
                  h3= module.id
                  p= module.description

      footer
        p.tm Node.js is an official trademark of Joyent. This website is not formally related to or endorsed by the official Joyent Node.js open source or commercial project.
        p.links
          img(src='/images/chip.png', alt='corruptmem logo') 
          | &nbsp; Created by corruptmem - 
          a(href='http://corruptmem.org') Web
          |  - 
          a(href='mailto:me@corruptmem.org') Email
          |  -  
          a(href='http://github.com/corruptmem') GitHub
          |  - 
          a(href='http://twitter.com/corruptmem') Twitter


