!!! 5
html
  head
    meta(charset='utf-8')
    title= (typeof(title)!=="undefined"?title + " - ":"") + "Node.JS Modules"
    != css('main')
    link(href='http://fonts.googleapis.com/css?family=Cabin|Exo:200,400,600,800', rel='stylesheet', type='text/css')
    link(rel="canonical", href=canonicalUrl)
  body(data-type=currentType, data-tag=currentTag)
    div#container
      header
        h1 Node.JS Modules

        block header
        div.clearfix

      section#main
        block content
      footer
        p.tm Node.js is an official trademark of Joyent. This website is not formally related to or endorsed by the official Joyent Node.js open source or commercial project.
        p.links
          img(src=img('chip.png'), alt='corruptmem logo') 
          | &nbsp; Created by corruptmem - 
          a(href='http://corruptmem.org') Web
          |  - 
          a(href='mailto:me@corruptmem.org') Email
          |  -  
          a(href='http://github.com/corruptmem') GitHub
          |  - 
          a(href='http://twitter.com/corruptmem') Twitter

    script(defer,src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28242149-2']);
      _gaq.push(['_setSiteSpeedSampleRate', 10]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    != js('main', {defer: true})
